* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: blanchedalmond;
}

p {
  background-color: brown;
  border: 2px solid #fff000;
}
